In [29]:
from selenium import webdriver
from selenium.webdriver.edge.service import Service
from selenium.webdriver.common.by import By

import pandas as pd
import numpy as np

from time import sleep

In [30]:
# We start by extracting all locations from our data (city, country)
df = pd.read_csv('clean_flights.csv')
locations = df[['city', 'country']].drop_duplicates().values
distances = []

In [31]:
PATH = r'C:\Program Files\Edge Driver\msedgedriver.exe'

service = Service(executable_path=PATH)
driver = webdriver.Edge(service=service)
# This website have a simple calculator that mesure the flight distance between 2 locations
# it doesn't have any API, so we'll use Selenium
driver.get("https://www.distancecalculator.net/")
sleep(5)

In [32]:
driver.find_element(By.ID, "distancefrom").send_keys("Casablanca")

for location in locations :
    to = driver.find_element(By.ID, "distanceto")
    to.clear()
    to.send_keys(', '.join(location))
    driver.find_element(By.ID, "hae").click()
    sleep(2)
    distance = driver.find_element(By.ID, "totaldistancekm").text[:-3]
    distances.append(float(distance))

In [33]:
driver.close()

In [62]:
data = np.hstack((locations, np.array([distances]).reshape((662, 1))))
df = pd.DataFrame(data, columns=['city', 'country', 'distance'])
df.to_csv("new_features/distances.csv", index=False)
df

             city              country distance
0       Catumbela               Angola  5693.07
1          Luanda               Angola   593.54
2        Anguilla             Anguilla  5732.29
3         Antigua  Antigua and Barbuda  5680.01
4    Buenos Aires            Argentina   9245.0
..            ...                  ...      ...
657    North Bend        United States  8870.61
658       Oakland        United States  9595.53
659       Orlando        United States   6897.8
660   Livingstone               Zambia  6731.92
661        Harare             Zimbabwe  7035.66

[662 rows x 3 columns]